In [22]:
import os
import struct
import numpy as np
import pandas as pd
import xlrd
from sklearn.model_selection import train_test_split
import tensorflow as tf

In [11]:
data = pd.read_csv('./Data/ace_2000.csv', header= 0)

In [12]:
print((data.head))

<bound method NDFrame.head of         year  doy  hr  min        Np        Tp       Vp  B_gsm_x  B_gsm_y  \
0       2000    1   0    0     3.274  289000.0   679.28   -5.537    1.169
1       2000    1   0    1     3.424  247000.0   670.87   -6.039    4.627
2       2000    1   0    2     3.334  248000.0   673.69   -5.934    5.432
3       2000    1   0    3     3.518  227000.0   668.05   -5.853    2.867
4       2000    1   0    4     3.375  240000.0   662.88   -6.912    2.393
...      ...  ...  ..  ...       ...       ...      ...      ...      ...
494096  2000  366  23   55 -9999.900  -10000.0   292.25   -3.054    1.098
494097  2000  366  23   56 -9999.900  -10000.0   291.84   -3.001    1.146
494098  2000  366  23   57 -9999.900  -10000.0 -9999.90   -3.030    1.131
494099  2000  366  23   58 -9999.900  -10000.0   292.56   -3.052    1.137
494100  2000  366  23   59 -9999.900  -10000.0 -9999.90   -3.103    1.170

        B_gsm_z     Bt
0         4.127  7.721
1         3.457  8.370
2         2.841  8.561
3         4.605  8.202
4         3.434  8.102
...         ...    ...
494096   -1.165  3.449
494097   -1.108  3.398
494098   -1.104  3.418
494099   -1.116  3.443
494100   -1.159  3.513

[494101 rows x 11 columns]>

In [13]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [15]:
data1=data.groupby(['doy'], as_index=False).mean()

In [18]:
print(data1)

     doy    year         hr        min           Np             Tp  \
0      1  2000.0  11.502222  29.533333  -464.298100  231851.851852
1      2  2000.0  11.502222  29.533333  -375.371574  177038.370370
2      3  2000.0  11.502222  29.546667  -426.865537  130209.037037
3      4  2000.0  11.502222  29.533333  -382.408819  135401.037037
4      5  2000.0  11.502222  29.533333  -412.005747  121179.333333
..   ...     ...        ...        ...          ...            ...
361  362  2000.0  11.497778  29.600000  -430.371523   57205.755556
362  363  2000.0  11.497778  29.600000  -731.739332   57398.074074
363  364  2000.0  11.497778  29.600000  -622.283657   25106.296296
364  365  2000.0  11.497778  29.600000  -565.625801   37244.962963
365  366  2000.0  11.497778  29.600000 -6502.336740   21641.333333

             Vp    B_gsm_x    B_gsm_y    B_gsm_z         Bt
0    165.490933  -3.216484   2.934549   0.001556   6.482796
1    242.579859  -2.505283   1.398933   0.224848   5.087256
2    131.157622 -32.493100 -27.271794 -29.753748 -24.737644
3    128.708274  -2.591805   3.093654  -0.705836   5.749666
4     69.664956  -3.012479   2.122457  -1.540317   6.043204
..          ...        ...        ...        ...        ...
361  -80.179607   1.736095  -4.082118  -0.732593   7.518027
362 -387.187178   0.950446  -1.699911   0.809224   6.166081
363 -301.922193  -4.084682   3.822751  -1.318516   7.179101
364 -295.014570 -19.479876 -12.735194 -13.159236  -8.156254
365 -958.672926  -4.087004  -0.184708  -0.228390   4.569363

[366 rows x 11 columns]

In [24]:
y = pd.read_csv('./Data/지자기교란 지수.csv', header= 0)

In [20]:
print(train_y.head)

<bound method NDFrame.head of             date  kp_0h  kp_3h  kp_6h  kp_9h  kp_12h  kp_15h  kp_18h  kp_21h
0     1999-01-01      0      2      1      2       2       1       1       1
1     1999-01-02      1      2      2      3       3       2       2       1
2     1999-01-03      2      2      0      0       1       1       1       1
3     1999-01-04      1      2      3      2       3       2       1       2
4     1999-01-05      3      3      2      3       1       1       2       1
...          ...    ...    ...    ...    ...     ...     ...     ...     ...
5474  2013-12-27      0      0      0      0       0       0       2       1
5475  2013-12-28      0      0      0      1       1       1       1       1
5476  2013-12-29      1      1      1      2       1       1       2       1
5477  2013-12-30      0      0      1      1       1       1       1       1
5478  2013-12-31      2      1      2      2       2       1       2       1

[5479 rows x 9 columns]>

In [26]:
X_train, X_test, y_train, y_test = train_test_split(data1,y, stratify=y,
                                                    random_state=42)

ValueError: Found input variables with inconsistent numbers of samples: [366, 5479]