In [1]:
import numpy as np
from keras.models import Sequential
from keras.layers import Dense

import pandas as pd

Using TensorFlow backend.

In [2]:
np.random.seed(5)

In [3]:
dataset = pd.read_csv('./Data/ace_2000.csv', header= 0)

In [5]:
data=dataset.groupby(['doy'], as_index=False).mean()

In [6]:
dataset.keys()

Index(['year', 'doy', 'hr', 'min', 'Np', 'Tp', 'Vp', 'B_gsm_x', 'B_gsm_y',
       'B_gsm_z', 'Bt'],
      dtype='object')

In [7]:
kp = pd.read_csv('./Data/ace_2000_kp.csv', header= 0)

In [8]:
kp.keys()

Index(['date', 'kp_0h', 'kp_3h', 'kp_6h', 'kp_9h', 'kp_12h', 'kp_15h',
       'kp_18h', 'kp_21h'],
      dtype='object')

In [12]:
kp['kp_av']= (kp[kp.keys()[1]] + kp[kp.keys()[2]] + kp[kp.keys()[3]]+ kp[kp.keys()[4]]++ kp[kp.keys()[5]]+ kp[kp.keys()[6]]++ kp[kp.keys()[7]]+ kp[kp.keys()[8]])/8

In [13]:
kp['kp'] = 0

In [14]:
for x in range(0,365) :
    if kp['kp_av'][x]>=5 :
        kp['kp'][x] = 1
    elif kp['kp_av'][x]<5 :
        kp['kp'][x] = 0

C:\Users\sun\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\sun\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [15]:
kp[kp['kp_av']>=5]

,date,kp_0h,kp_3h,kp_6h,kp_9h,kp_12h,kp_15h,kp_18h,kp_21h,kp_av,kp
144,2000-05-24,7,7,6,6,4,4,5,4,5.375,1
159,2000-06-08,3,4,4,7,7,6,5,4,5.000,1
196,2000-07-15,4,4,5,5,6,9,9,9,6.375,1
223,2000-08-11,6,6,7,6,4,4,4,5,5.250,1
224,2000-08-12,5,7,8,7,7,7,5,4,6.250,1
278,2000-10-05,5,7,7,7,7,6,4,4,5.875,1

In [16]:
kp[kp['kp']==1]

,date,kp_0h,kp_3h,kp_6h,kp_9h,kp_12h,kp_15h,kp_18h,kp_21h,kp_av,kp
144,2000-05-24,7,7,6,6,4,4,5,4,5.375,1
159,2000-06-08,3,4,4,7,7,6,5,4,5.000,1
196,2000-07-15,4,4,5,5,6,9,9,9,6.375,1
223,2000-08-11,6,6,7,6,4,4,4,5,5.250,1
224,2000-08-12,5,7,8,7,7,7,5,4,6.250,1
278,2000-10-05,5,7,7,7,7,6,4,4,5.875,1

In [17]:
data['kp']= kp['kp']

In [49]:
data.keys()
data=data.drop(['year','hr','min'], axis=1)

In [50]:
data.keys()

Index(['doy', 'Np', 'Tp', 'Vp', 'B_gsm_x', 'B_gsm_y', 'B_gsm_z', 'Bt', 'kp'], dtype='object')

In [31]:
from sklearn.model_selection import train_test_split

In [52]:
train_set, test_set = train_test_split(data, test_size=0.2, random_state=42)
print(len(train_set), "train +", len(test_set), "test")

292 train + 74 test

In [53]:
model = Sequential()
model.add(Dense(12, input_dim=9, activation='relu'))
model.add(Dense(9, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [56]:
model.fit(train_set,train_set['kp'], epochs=1500, batch_size=64)

RuntimeError: You must compile a model before training/testing. Use `model.compile(optimizer, loss)`.

In [54]:
test_set[0:11]

,doy,Np,Tp,Vp,B_gsm_x,B_gsm_y,B_gsm_z,Bt,kp
193,194,-360.068413,32802.022222,107.288763,-7.043480,3.881935,4.794499,10.040577,0
33,34,-386.317034,62054.592593,6.815941,-2.474451,2.498431,-0.301970,5.205880,0
15,16,-366.624239,56950.740741,-4.532037,2.780967,-1.115376,-1.242353,5.002225,0
310,311,-467.430724,120019.925926,45.432044,-0.533336,4.711210,-5.247433,9.508153,0
57,58,-359.706660,136321.703704,155.717489,-3.123366,2.081336,1.072681,5.376212,0
183,184,-332.842285,26726.125926,12.647007,3.519974,-2.313450,1.239819,5.298206,0
76,77,-9999.900000,-10000.000000,-1084.569274,-3.394280,5.261413,4.220447,9.124738,0
119,120,-424.299945,71467.481481,-58.960030,3.078330,-3.269777,-0.787766,6.447570,0
152,153,-330.505044,69930.296296,122.192556,1.103614,-0.776434,-0.114839,3.285490,0
126,127,-328.327829,69339.777778,70.701652,1.917618,-2.544816,-1.832576,4.866420,0
339,340,-1043.519496,28274.592593,-735.955615,-3.271767,1.724373,-0.307924,5.289861,0